/* Core section */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Livvic', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* .Intro section */

.intro {
    background: #014E56;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 /100%);
}



.intro-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-link {
    padding: 30px;
    transition: all 0.7s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1, 1.1);
    color: #79C8C7;
}

.intro-head__info {
    display: flex;
    align-items: center;
}

.head-navigation__items {
    display: flex;
}

.head-navigation__item:not(:last-child) {
    margin-right: 40px;
}

.head-logo {
    margin-right: 80px;
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 40px;
}

.header-link {
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    padding: 10px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all 0.7s ease-in-out;
}

.header-link:hover {
    color: #79C8C7;
    transform: scale(1.1, 1.1);
}

/* Contact section */

.contact {
    background: #014E56;
    position: relative;
    padding: 120px 0;
    padding-top: 200px;
}

.contact-image1 {
    position: absolute;
    top: 200px;
    left: 0;
}

.contact-image2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact-info__intro {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
    margin-bottom: 32px;
}


.contact-info__step {
    display: flex;
    gap: 23px;
    align-items: center;
    margin-bottom: 40px;
    transition: all 0.7s ease-in-out;
}

.contact-info__step:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.contact-step__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

form {
    max-width: 540px;
}

input {
    min-width: 100%;
    margin-bottom: 24px;
    border: none;
    padding-bottom: 16px;
    background: #014E56;
    outline: 0;
    border-bottom: 2px solid #FFFFFF;
}

input::placeholder {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}


textarea::placeholder {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

textarea {
    min-width: 100%;
    margin-bottom: 24px;
    border: none;
    padding-bottom: 16px;
    background: #014E56;
    outline: 0;
    border-bottom: 2px solid #FFFFFF;
}

.contact-bottom {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #004047;
    padding: 10px 32px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.contact-bottom:hover {
    transform: scale(1.1, 1.1);
}



/* Footer section  */

.footer {
    padding: 48px;
    background: #002529;
}

.footer-infos {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all 0.7s ease-in-out;
}

.footer-link:hover {
    transform: scale(1.1, 1.1);
    color: #79C8C7;
}

.footer-link:not(:last-child) {
    margin-right: 40px;
}

.footer-links {
    margin-top: 25px;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.footer-item:hover {
    color: #331f69;
}

.box-1 {
    justify-content: space-between;
}

.footer-socials {
    color: #FFFFFF;

}

.footer-socials i {
    transition: all 0.7s ease-in-out;
}

.footer-socials i:hover {
    color: #79C8C7;
    transform: rotate(360deg);
}


.footer-socials:not(:last-child) {
    margin-right: 16px;
}

.box-3 {
    transition: all 0.7s ease-in-out;
}

.box-3:hover {
    transform: scale(1.1, 1.1);
}


@media only screen and (max-width: 768px) {
    .container {
        width: 92%;
    }

    .contact-head {
        display: flex;
        flex-direction: column;
        row-gap: 64px;
        align-items: center;
    }

    .head-1 {
        display: none;
    }

    .footer-socials {
        text-align: end;
    }

}

@media only screen and (max-width:375px) {
    .container {
        width: 95%;
    }

    .head-logo {
        margin: 20px 0;
    }

    .head-navigation,
    .header-link {
        display: none;
    }

    .contact-image1 {
        display: none;
    }

    .contact-info__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    .contact-info__intro {
        text-align: center;
    }

    .footer-infos {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}